<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="server=127.0.0.1;database=DND;user=root;port=3308;password=Password12;"/>
    <add key="GPRSAdapterConnectionKey" value="Data Source=182.71.32.185;Initial Catalog=GprsAdapter_CommManager;Persist Security Info=True;User ID=sa;Password=Landis@123"/>
    <add key="GPRSInteractionIsService" value="true"/>
    <add key="TCPPORT" value="4059"/>
    <add key="ExportMaxCount" value="100"/>    
    <add key="IsFTPFileDeleteAllowed" value="FALSE"/>
    <add key="IsFTPListViewEnable" value="FALSE"/>
    <add key="IsTCPOneToManyParallel" value="TRUE"/>
    <add key="Is64BitConsumerImport" value="TRUE"/>
    <add key="IsDebugLog" value="FALSE"/>
    <add key="ThreadPoolSize" value="20"/>
    <add key="TCPReceiveTimeout" value="15000"/>
    <add key="TCPReceiveSleep" value="5000"/>    
    <add key="ConnectTimeOut" value="50000"/>
    <add key="FTPIP" value=""/> 
    <add key="LoginID" value=""/>
    <add key="LoginPassword" value=""/>
    <add key="ServerDirectory" value=""/>
    <add key="LocalDirectory" value=""/>
    <add key="IsAutoUpload" value=""/>
    <add key="DBTYPE" value="My_SQL"/>
    <add key="PortNumber" value="3308"/>
    <add key="VersionString" value="1.0"/>
    <add key="ApplicationType" value="DLMS_LTCT_650"/>
    <add key="DataBaseName" value="dlms_ltct_650"/>
    <add key="Utility" value="PUMA"/>
    <add key="PortName" value="COM1"/>    
    <add key="SECRETPROCESS" value="TRUE"/>
    <add key="BaudRate" value="9600"/>
    <add key="InitialBaudRate" value="300"/>
    <add key="GSMMeterType" value="DLMS"/>
    <add key="CommunicationMode" value="RS 232"/>
    <add key="EncryptFile" value="true"/>
    <add key="DateFormat" value="dd/MM/yyyy"/>
    <add key="FileLocation" value=""/>
    <add key="LocationType" value="Default"/>
    <add key="TOUFileLocation" value=""/>
    <add key="TOULocationType" value="Default"/>
    <add key="FileNamingConvention" value="Default+MeterID"/>
    <add key="RootLog" value="0"/>
    <add key="GSMConnected" value="False"/>
    <add key="TenderType" value="JUSCO"/>
    <add key="CMRIType" value="ANALOGIC CMRI|SANDS CMRI 1006|SANDS CMRI 1010"/>
    <add key="CMRIIntercharacterDelay" value="5000|7000|5000"/>
    <add key="CMRICommandTimeOut" value="6000|8000|6000"/>
    <add key="FDLTamperDataSize" value="15000"/>
    <add key="FDLLSDataSize" value="500000"/>
    <add key="FDLBillingDataSize" value="6000"/>
    <add key="FDLGeneralDataSize" value="260"/>
    <add key="FDLInstantDataSize" value="260"/>
	  <add key="FDLPhasorDataSize" value="260"/>
    <add key="FDLMidNightDataSize" value="1650"/>
    <add key="FDLAnomalyDataSize" value="200"/>
    <add key="FDLTOUDataSize" value="44"/>
    <add key="DemoTrialPeriod" value="100"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="CompanyCode" value="101"/>
    <add key="SecurityMechanism" value="01"/>
    <add key="ModePassword" value="11111111"/>
    <add key="DefaultModePassword" value="11111111"/>
    <add key="RS485DeviceAddress" value="256"/>
    <add key="LoadSurveyDays" value="30"/>
    <add key="ChannelType" value="Direct"/>
    <add key="NoOfRetries" value="3"/>
    <add key="SourceOfFile" value="1"/>    
    <add key="ChkNumPowFail" value="1"/>
    <add key="ChkHideNamePlDetails" value="1"/>
    <add key="MeterAccuracyCheck" value="3A31313131313131314D4ABcc0D0A"/>
    <add key="CommunicationMode" value="Normal"/>
    <add key="PTRatio" value="1"/>
    <add key="CTRatio" value="1"/>
    <add key="SelectionMode" value="Auto"/>
    <add key="MeterFirmwareType" value="1"/>
    <add key="CommunicationType" value="Direct"/>
    <add key="ChkPowerOnOffDurationFormat" value="0"/>
    <add key="ApplicationContext" value="Logical Name without ciphering"/>
    <add key="AuthenticationLevel" value="High - Level"/>
    <add key="ClientSystemTitle" value="12345678"/>
    <add key="SecuritySuit" value="Encryption + Authentication"/>
    <add key="GlobalEncryptionKey" value="000102030405060708090A0B0C0D0E0F"/>
    <add key="AuthenticationKey" value="000102030405060708090A0B0C0D0E0F"/>
    <add key="DefaultGlobalEncryptionKey" value="000102030405060708090A0B0C0D0E0F"/>
    <add key="DefaultAuthenticationKey" value="000102030405060708090A0B0C0D0E0F"/>
    <add key="DedicatedKey" value="0"/>
    <add key="HHUServer" value="127.0.0.1"/>
    <add key="HHUPortNumber" value="5055"/>
    <add key="CCUserName" value=""/>
    <add key="CCUserPassword" value=""/>
    <add key="PrivateKey" value=""/>
    <add key="OtherManufacture" value="FALSE"/>
    <add key="FDUseAlternateModelWBNET" value="1"/>
    <add key="EndPointConfigurationName" value="CIM2ndEditionService"/>
    <add key="RemoteAddress" value="https://indelvr374.ap.bm.net/GSIS_CIM2ndEdition/CIM2ndEd.svc"/>
    <add key="EndPointUploadName" value="WSHttpBinding_ToolDataProcessor"/>
    <add key="RemoteUploadAddress" value="https://indelvr366.ap.bm.net/AuthenticationService/ToolDataProcessorService.svc"/>
    
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CIMServiceEndpoint" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None"/>
        </binding>
        <binding name="CIMServiceBasicBinding" closeTimeout="00:20:00" openTimeout="00:20:00" receiveTimeout="00:20:00" sendTimeout="00:20:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="None"/>
        </binding>
        <binding name="CIMServiceBasicBindingSSL" closeTimeout="00:20:00" openTimeout="00:20:00" receiveTimeout="00:20:00" sendTimeout="00:20:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="Transport"/>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="CIM2ndEditionCustomBinding" closeTimeout="00:20:00" openTimeout="00:20:00" receiveTimeout="00:20:00" sendTimeout="00:20:00">
          <security authenticationMode="UserNameOverTransport" securityHeaderLayout="Lax" includeTimestamp="false" messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
            <secureConversationBootstrap/>
          </security>
          <textMessageEncoding messageVersion="Soap11" writeEncoding="utf-8"/>
          <httpsTransport maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" transferMode="Buffered" useDefaultWebProxy="true"/>
        </binding>
      </customBinding>
      <netTcpBinding>
        <binding name="AdapterTCPBinding" closeTimeout="00:02:00" openTimeout="00:02:00" receiveTimeout="00:02:00" sendTimeout="00:02:00">
          <security mode="None"/>
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ToolDataProcessor" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="Windows" negotiateServiceCredential="true" establishSecurityContext="true"/>
          </security>
        </binding>
      </wsHttpBinding>

    </bindings>
    <client>
      <endpoint address="net.tcp://182.71.32.185:9011/GPRSAdapter/NetworkProtocolMessageReceiver.svc" binding="netTcpBinding" bindingConfiguration="AdapterTCPBinding" contract="INetworkProtocol" name="tcpEndPoint"/>
      <endpoint address="net.tcp://182.71.32.185:9011/GPRSAdapter/EndpointOperations.svc" binding="netTcpBinding" bindingConfiguration="AdapterTCPBinding" contract="IEndpointOperations" name="GPRSAdapterEndPointOperations"/>
      <endpoint address="net.tcp://182.71.32.185:9011/GPRSAdapter/GPRSAdapterOperations.svc" binding="netTcpBinding" bindingConfiguration="AdapterTCPBinding" contract="IEndpointDetails" name="GPRSAdapterEndPointDetails"/>
      <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CIMServiceBasicBinding" contract="LandisGyr.GSIS.CIM2ndEd.Operations" name="CIM2ndEditionServiceBasic"/>
      <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CIMServiceBasicBindingSSL" contract="LandisGyr.GSIS.CIM2ndEd.Operations" name="CIM2ndEditionServiceBasicSSL"/>
      <endpoint address="https://indelvr221.ap.bm.net/AuthenticationService/ToolDataProcessorService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ToolDataProcessor" contract="ToolDataProcessorService.ToolDataProcessor" name="WSHttpBinding_ToolDataProcessor"/>
      
    </client>
  </system.serviceModel>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="office" publicKeyToken="71E9BCE111E9429C" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Vbe.Interop" publicKeyToken="71E9BCE111E9429C" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Office.Interop.Excel" publicKeyToken="71E9BCE111E9429C" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
<startup useLegacyV2RuntimeActivationPolicy ="true">
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
</startup>
</configuration>
