<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="DLMSGSMCommunication.SerialPortSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<userSettings>
		<DLMSGSMCommunication.SerialPortSettings>
			<setting name="SerialPort" serializeAs="String">
				<value>COM1</value>
			</setting>
			<setting name="SignOnBaudRate" serializeAs="String">
				<value>300</value>
			</setting>
			<setting name="CommandBaudRate" serializeAs="String">
				<value>9600</value>
			</setting>
			<setting name="StopBits" serializeAs="String">
				<value>1</value>
			</setting>
			<setting name="DataBits" serializeAs="String">
				<value>8</value>
			</setting>
			<setting name="Parity" serializeAs="String">
				<value>None</value>
			</setting>
			<setting name="CommandTimeOut" serializeAs="String">
				<value>4000</value>
			</setting>
			<setting name="IntercharacterDelay" serializeAs="String">
				<value>3500</value>
			</setting>
			<setting name="InterframeTimeout" serializeAs="String">
				<value>1500</value>
			</setting>
			<setting name="ServerSAP" serializeAs="String">
				<value>1</value>
			</setting>
			<setting name="ServerLowerMacAddress" serializeAs="String">
				<value>256</value>
			</setting>
			<setting name="ApplicationContext" serializeAs="String">
				<value>1</value>
			</setting>
			<setting name="SecurityMechanism" serializeAs="String">
				<value>1</value>
			</setting>
			<setting name="Password" serializeAs="String">
				<value>11111111</value>
			</setting>
			<setting name="PDUSize" serializeAs="String">
				<value>9999</value>
			</setting>
			<setting name="Cnf1" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="Cnf2" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="Cnf3" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="ReadOut" serializeAs="String">
				<value>C:\Program Files\Cabcon\DLMS MMP\Configuration\Instantaneous_c.xml</value>
			</setting>
			<setting name="Billing" serializeAs="String">
				<value>C:\Program Files\Cabcon\DLMS MMP\Configuration\Billing.xml</value>
			</setting>
			<setting name="BillingVZ" serializeAs="String">
				<value>C:\Program Files\Cabcon\DLMS MMP\Configuration\BillingVZ.xml</value>
			</setting>
			<setting name="TamperXML" serializeAs="String">
				<value>C:\Program Files\Cabcon\DLMS MMP\Configuration\Tamper.xml</value>
			</setting>
			<setting name="CommunicationPort" serializeAs="String">
				<value>RJ Port</value>
			</setting>
			<setting name="CommunicationMode" serializeAs="String">
				<value>Mode-E</value>
			</setting>
			<setting name="ModemNumber" serializeAs="String">
				<value/>
			</setting>
			<setting name="ScaleXMLPath" serializeAs="String">
				<value>C:\Program Files\Cabcon\DLMS MMP\Configuration</value>
			</setting>
			<setting name="HLSKey" serializeAs="String">
				<value>F26CE01A15BD16CBB03B473F65E3BFBA</value>
			</setting>
			<setting name="ClientSAP" serializeAs="String">
				<value>32</value>
			</setting>
		</DLMSGSMCommunication.SerialPortSettings>
	</userSettings>
	<appSettings>
		<add key="ConnectionString" value="server=127.0.0.1;database=DND;user=root;port=3308;password=Password12;"/>
		<add key="DBTYPE" value="My_SQL"/>
		<add key="PortNumber" value="3308"/>
		<add key="VersionString" value="1.0"/>
		<add key="ApplicationType" value="DLMS_LTCT_650"/>
		<add key="Utility" value="PUMA"/>
		<add key="PortName" value="COM1"/>
		<add key="BaudRate" value="9600"/>
		<add key="CommunicationMode" value="RS 232"/>
		<add key="EncryptFile" value="true"/>
		<add key="DateFormat" value="dd/MM/yyyy"/>
		<add key="FileLocation" value=""/>
		<add key="LocationType" value="Default"/>
		<add key="TOUFileLocation" value=""/>
		<add key="TOULocationType" value="Default"/>
		<add key="FileNamingConvention" value="Default+MeterID"/>
		<add key="RootLog" value="0"/>
		<add key="GSMConnected" value="False"/>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
		<add key="MaxLoadSurveyDays" value="30"/>
		<add key="SourceOfFile" value="7"/>
		<add key="LoadSurveyDays" value="30"/>
		<add key="ChkNumPowFail" value="1"/>
		<add key="TCPPORT" value="4059"/>
		<add key="IsTCPOneToManyParallel" value="TRUE"/>
		<add key="Is64BitConsumerImport" value="FALSE"/>
		<add key="ThreadPoolSize" value="20"/>
		<add key="TCPReceiveTimeout" value="15000"/>
		<add key="TCPReceiveSleep" value="5000"/>
		<add key="ConnectTimeOut" value="50000"/>
		<add key="FTPIP" value="183.82.97.160"/>
		<add key="LoginID" value="lng"/>
		<add key="LoginPassword" value="2ng#123"/>
		<add key="ServerDirectory" value="2nG"/>
		<add key="LocalDirectory" value=""/>
		<add key="IsAutoUpload" value="TRUE"/>
		<add key="DataBaseName" value="dlms_ltct_650"/>
		<add key="SECRETPROCESS" value="TRUE"/>
		<add key="InitialBaudRate" value="300"/>
		<add key="GSMMeterType" value="DLMS"/>
		<add key="TenderType" value="JUSCO"/>
		<add key="CMRIType" value="ANALOGIC CMRI|SANDS CMRI 1006|SANDS CMRI 1010"/>
		<add key="CMRIIntercharacterDelay" value="5000|7000|5000"/>
		<add key="CMRICommandTimeOut" value="6000|8000|6000"/>
		<add key="FDLTamperDataSize" value="15000"/>
		<add key="FDLLSDataSize" value="500000"/>
		<add key="FDLBillingDataSize" value="6000"/>
		<add key="FDLGeneralDataSize" value="260"/>
		<add key="FDLInstantDataSize" value="260"/>
		<add key="FDLPhasorDataSize" value="260"/>
		<add key="FDLMidNightDataSize" value="1650"/>
		<add key="FDLAnomalyDataSize" value="200"/>
		<add key="FDLTOUDataSize" value="44"/>
		<add key="DemoTrialPeriod" value="100"/>
		<add key="CompanyCode" value="101"/>
		<add key="SecurityMechanism" value="01"/>
		<add key="ModePassword" value="11111111"/>
		<add key="RS485DeviceAddress" value="256"/>
		<add key="ChannelType" value="Direct"/>
		<add key="NoOfRetries" value="3"/>
    <add key="ApplicationContext" value="03" />
    <add key="AuthenticationLevel" value="01" />
    <add key="ClientSystemTitle" value="12345678" />
    <add key="SecuritySuit" value="20" />
    <add key="GlobalEncryptionKey" value="000102030405060708090A0B0C0D0E0F" />
    <add key="AuthenticationKey" value="000102030405060708090A0B0C0D0E0F" />
    <add key="DedicatedKey" value="0" />
		<add key="ChkHideNamePlDetails" value="1"/>
		<add key="MeterAccuracyCheck" value="3A31313131313131314D4ABcc0D0A"/>
		<add key="PTRatio" value="1"/>
		<add key="CTRatio" value="1"/>
		<add key="SelectionMode" value="Auto"/>
		<add key="MeterFirmwareType" value="1"/>
		<add key="CommunicationType" value="Direct"/>
		<add key="ChkPowerOnOffDurationFormat" value="0"/>
		<add key="GPRSAdapterConnectionKey" value="Data Source=182.71.32.185;Initial Catalog=GprsAdapter_CommManager;Persist Security Info=True;User ID=sa;Password=Landis@123"/>
		<add key="GPRSRoutingServiceConnectionKey" value="Data Source=182.71.32.185;Initial Catalog=GprsAdapter_RoutingService;Persist Security Info=True;User ID=sa;Password=Landis@123"/>
		<add key="GPRSInteractionIsService" value="true"/>
	</appSettings>
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="AdapterTCPBinding" openTimeout="00:02:00" closeTimeout="00:02:00" receiveTimeout="00:02:00" sendTimeout="00:02:00">
					<security mode="None"></security>
				</binding>
			</netTcpBinding>
		</bindings>
		<client>
			<endpoint address="net.tcp://182.71.32.185:9011/GPRSAdapter/NetworkProtocolMessageReceiver.svc" binding="netTcpBinding" name="tcpEndPoint" contract="INetworkProtocol" bindingConfiguration="AdapterTCPBinding"/>
			<endpoint address="net.tcp://182.71.32.185:9011/GPRSAdapter/EndpointOperations.svc" binding="netTcpBinding" name="GPRSAdapterEndPointOperations" contract="IEndpointOperations" bindingConfiguration="AdapterTCPBinding"/>
			<endpoint address="net.tcp://182.71.32.185:9011/GPRSAdapter/GPRSAdapterOperations.svc" binding="netTcpBinding" name="GPRSAdapterEndPointDetails" contract="IEndpointDetails" bindingConfiguration="AdapterTCPBinding"/>
		</client>
	</system.serviceModel>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
			</providers>
		</roleManager>
	</system.web>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup>
</configuration>
