<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DLMS_Final.SerialPortSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DLMS_Final.SerialPortSettings>
            <setting name="SerialPort" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="SignOnBaudRate" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="CommandBaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="StopBits" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Parity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="CommandTimeOut" serializeAs="String">
                <value>4000</value>
            </setting>
            <setting name="IntercharacterDelay" serializeAs="String">
                <value>3500</value>
            </setting>
            <setting name="InterframeTimeout" serializeAs="String">
                <value>1500</value>
            </setting>
            <setting name="ServerSAP" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ServerLowerMacAddress" serializeAs="String">
                <value>256</value>
            </setting>
            <setting name="ClientSAP" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="ApplicationContext" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SecurityMechanism" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>11111111</value>
            </setting>
            <setting name="PDUSize" serializeAs="String">
                <value>9999</value>
            </setting>
            <setting name="Cnf1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Cnf2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Cnf3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ReadOut" serializeAs="String">
                <value>C:\Program Files\Cabcon\DLMS MMP\Configuration\Instantaneous_c.xml</value>
            </setting>
            <setting name="Billing" serializeAs="String">
                <value>C:\Program Files\Cabcon\DLMS MMP\Configuration\Billing.xml</value>
            </setting>
            <setting name="BillingVZ" serializeAs="String">
                <value>C:\Program Files\Cabcon\DLMS MMP\Configuration\BillingVZ.xml</value>
            </setting>
            <setting name="TamperXML" serializeAs="String">
                <value>C:\Program Files\Cabcon\DLMS MMP\Configuration\Tamper.xml</value>
            </setting>
            <setting name="CommunicationPort" serializeAs="String">
                <value>RJ Port</value>
            </setting>
            <setting name="CommunicationMode" serializeAs="String">
                <value>Mode-E</value>
            </setting>
            <setting name="ModemNumber" serializeAs="String">
                <value />
            </setting>
            <setting name="ScaleXMLPath" serializeAs="String">
                <value>C:\Program Files\Cabcon\DLMS MMP\Configuration</value>
            </setting>
            <setting name="HLSKey" serializeAs="String">
                <value>F26CE01A15BD16CBB03B473F65E3BFBA</value>
            </setting>
            <setting name="CommunicationType" serializeAs="String">
                <value>Direct</value>
            </setting>
            <setting name="LPReadDays" serializeAs="String">
                <value>30</value>
            </setting>
        </DLMS_Final.SerialPortSettings>
    </userSettings>
</configuration>