<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BillingReset" value="TNEB"/>
    <add key="ShowFSMode" value="TNEB"/>
    <add key="ShowDynamicPhasor" value="PUMA|JVVNL"/>
    <add key="ShowPhasorFastDownload" value="PUMA|JVVNL"/>
    <add key="ShowMidNightFastDownload" value="PUMA|JVVNL"/>
    <add key="ShowKVAHSelectionTab" value="TNEB"/>
    <add key="ShowRS232LockTab" value="TNEB"/>
	  <add key="ShowDisplayParameters" value ="TNEB"/>
    <add key="ShowAnamolyParameters" value="JVVNL"/>
    <add key="ShowPohInDTMDailyProfile" value="JDVVNL"/>
    <add key="ShowPohMinutesInGeneralBilling" value="JDVVNL"/>
    <add key="RYBInPhasor" value="JDVVNL"/>
    <add key="DisableEndOfMonthOptionBillingMode" value="TNEB"/>
    <add key="DisablePowerOnHourInBilling" value="TNEB"/>
  </appSettings>
</configuration>