<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="server=127.0.0.1;database=rubyapp;user=root;port=3308;password=Password12;"/>
    <add key="DBTYPE" value="My_SQL"/>
    <add key="PortNumber" value="3308"/>
    <add key="VersionString" value="1.0"/>
    <add key="ApplicationType" value="E250_IEC"/>
    <add key="PortName" value="COM1"/>
    <add key="BaudRate" value="9600"/>
    <add key="CommunicationMode" value="RS 232"/>
    <add key="LoadSurveyConfiguration" value="10"/>
    <add key ="EncryptFile" value ="true"/>
    <add key ="DateFormat" value ="dd/MM/yyyy"/>
    <add key ="FileLocation" value =""/>
    <add key ="LocationType" value ="Default"/>
    <add key ="TOUFileLocation" value =""/>
    <add key ="TOULocationType" value ="Default"/>
    <add key ="FileNamingConvention" value ="Default"/>
    <add key ="RootLog" value ="0"/>
    <add key ="GSMConnected" value ="False"/>
    <add key ="TimeDelayInSeconds" value ="300"/>
    <add key ="RTCTimeFrame" value ="14:59"/>
    <add key="MeterAccuracyCheck" value="3A31313131313131314D4ABcc0D0A"/>
    <add key="BCSSoftwareVersion" value="2.0.2.25"/>
    <add key="MDWithIPDefault" value="5,10,15"/>
    <add key="SecurityMechanism" value="01"/>
    <add key="ModePassword" value="11111111"/>
  </appSettings>
</configuration>
