<?xml version="1.0" encoding="utf-8" ?>
<TAMPERMAPPER>
  <MAP DLMSCODE ="1" DLMSRESCODE ="2" IECCODE="164" OCCURENCE="true"></MAP>
  <MAP DLMSCODE ="2" DLMSRESCODE="NA" IECCODE="164" OCCURENCE="false"></MAP>
  <MAP DLMSCODE ="3" DLMSRESCODE="4" IECCODE="165" OCCURENCE="true"></MAP>
  <MAP DLMSCODE ="4" DLMSRESCODE="NA" IECCODE="165" OCCURENCE="false"></MAP>
  <MAP DLMSCODE ="5" DLMSRESCODE="6" IECCODE="166" OCCURENCE="true"></MAP>
  <MAP DLMSCODE ="6" DLMSRESCODE="NA" IECCODE="166" OCCURENCE="false"></MAP>
  <MAP DLMSCODE ="65" DLMSRESCODE="66" IECCODE="177" OCCURENCE="true"></MAP>
  <MAP DLMSCODE ="66" DLMSRESCODE="NA" IECCODE="177" OCCURENCE="false"></MAP>
  <MAP DLMSCODE ="57" DLMSRESCODE="58" IECCODE="178" OCCURENCE="true"></MAP>
  <MAP DLMSCODE ="58" DLMSRESCODE="NA" IECCODE="178" OCCURENCE="false"></MAP>
  <MAP DLMSCODE ="59" DLMSRESCODE="60" IECCODE="179" OCCURENCE="true"></MAP>
  <MAP DLMSCODE ="60" DLMSRESCODE="NA" IECCODE="179" OCCURENCE="false"></MAP>
  <MAP DLMSCODE ="61" DLMSRESCODE="62" IECCODE="180" OCCURENCE="true"></MAP>
  <MAP DLMSCODE ="62" DLMSRESCODE="NA" IECCODE="180" OCCURENCE="false"></MAP>
  <MAP DLMSCODE ="51" DLMSRESCODE="52" IECCODE="198" OCCURENCE="true"></MAP>
  <MAP DLMSCODE ="52" DLMSRESCODE="NA" IECCODE="198" OCCURENCE="false"></MAP>
  <MAP DLMSCODE ="53" DLMSRESCODE="54" IECCODE="199" OCCURENCE="true"></MAP>
  <MAP DLMSCODE ="54" DLMSRESCODE="NA" IECCODE="199" OCCURENCE="false"></MAP>
  <MAP DLMSCODE ="55" DLMSRESCODE="56" IECCODE="200" OCCURENCE="true"></MAP>
  <MAP DLMSCODE ="56" DLMSRESCODE="NA" IECCODE="200" OCCURENCE="false"></MAP>
  <MAP DLMSCODE ="201" DLMSRESCODE="202" IECCODE="209" OCCURENCE="true"></MAP>
  <MAP DLMSCODE ="202" DLMSRESCODE="NA" IECCODE="209" OCCURENCE="false"></MAP>
  <MAP DLMSCODE ="203" DLMSRESCODE="204" IECCODE="210" OCCURENCE="true"></MAP>
  <MAP DLMSCODE ="204" DLMSRESCODE="NA" IECCODE="210" OCCURENCE="false"></MAP>
  <MAP DLMSCODE ="251" DLMSRESCODE="NA" IECCODE="211" OCCURENCE="true"></MAP>
  <MAP DLMSCODE="101" DLMSRESCODE="102" IECCODE="225" OCCURENCE="true"></MAP>
  <MAP DLMSCODE="102" DLMSRESCODE="NA" IECCODE="225" OCCURENCE="false"></MAP>
  <MAP DLMSCODE="11" DLMSRESCODE="12" IECCODE="160" OCCURENCE="true"></MAP>
  <MAP DLMSCODE="12" DLMSRESCODE="NA" IECCODE="160" OCCURENCE="false"></MAP>
  <MAP DLMSCODE="63" DLMSRESCODE="64" IECCODE="194" OCCURENCE="true"></MAP>
  <MAP DLMSCODE="64" DLMSRESCODE="NA" IECCODE="194" OCCURENCE="false"></MAP>
  <MAP DLMSCODE="69" DLMSRESCODE="70" IECCODE="230" OCCURENCE="true"></MAP>
  <MAP DLMSCODE="70" DLMSRESCODE="NA" IECCODE="230" OCCURENCE="false"></MAP>
  <MAP DLMSCODE="207" DLMSRESCODE="208" IECCODE="231" OCCURENCE="true"></MAP>
  <MAP DLMSCODE="208" DLMSRESCODE="NA" IECCODE="231" OCCURENCE="false"></MAP>
  <!--ESD Tamper-->
  <MAP DLMSCODE="801" DLMSRESCODE="802" IECCODE="232" OCCURENCE="true"></MAP>
  <MAP DLMSCODE="802" DLMSRESCODE="NA" IECCODE="232" OCCURENCE="false"></MAP> 
  <!--Low Voltage Tamper-->
  <MAP DLMSCODE="9" DLMSRESCODE="10" IECCODE="237" OCCURENCE="true"></MAP>
  <MAP DLMSCODE="10" DLMSRESCODE="NA" IECCODE="237" OCCURENCE="false"></MAP>
  <!--Over Load Tamper -->
  <MAP DLMSCODE="91" DLMSRESCODE="92" IECCODE="235" OCCURENCE="true"></MAP>
  <MAP DLMSCODE="92" DLMSRESCODE="NA" IECCODE="235" OCCURENCE="false"></MAP>
  <!--Low PF Tamper -->
  <MAP DLMSCODE="205" DLMSRESCODE="206" IECCODE="236" OCCURENCE="true"></MAP>
  <MAP DLMSCODE="206" DLMSRESCODE="NA" IECCODE="236" OCCURENCE="false"></MAP>
  <!--Cover Open Tamper -->
  <MAP DLMSCODE="251" DLMSRESCODE="NA" IECCODE="238" OCCURENCE="true"></MAP>
	<!--Temperature IEC Meter -->
  <MAP DLMSCODE="951" DLMSRESCODE="NA" IECCODE="239" OCCURENCE="true"></MAP>
  
</TAMPERMAPPER>
