<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
    <add key="IECSupport" value="Generic|UPCONTRACTORS"/>
    <add key="ShowMidnight" value="PUMA|NDPL|UPCONTRACTORS"/>
    <add key="ShowAnamolyParameters" value="PUMA|NDPL|BESCOM"/> 
    <add key="ShowCumulativeMDKWKVA" value="PUMA|BESCOM|NDPL|EXCELPOWER|UPCONTRACTORS"/>
    <add key="ShowPowerOffDurationInBilling" value ="NDPL"/>
    <add key="ShowCumulativeExportEnergyKWH" value="NDPL|SHYAMINDUS"/>
    <add key="ShowApparantEnergyInTamper" value="NDPL"/>
    <add key="ShowCTRatioFormula" value="NDPL"/>
    <add key="ShowPTRatioFormula" value="NDPL"/>
    <add key="ShowVoltagePhaseReversalTamper" value="KSEB"/>
    <add key="ShowMDResetTamper" value="PUMA|KSEB|EXCELPOWER|BESCOM"/>
    <add key="ShowDisplayParemeterTamper" value="KSEB"/>
    <add key="ShowkVAhSelectionTamperInTransaction" value="PUMA|BESCOM"/>
    <add key="ShowTwoBytePTRatio" value="EXCELPOWER"/>
		<add key="DisableProgrammingDemandIntegrationPeriod" value="KSEB"/>
		<add key="DisableProgrammingCTPTRatio" value="BESCOM|KSEB"/>
		<add key="DisableProgrammingMDReset" value=""/>
		<add key="DisableProgrammingSurveyCapturePeriod" value="KSEB"/>
    <add key="ShowKVAHSelectionTabInUSMode" value="PUMA|BESCOM"/>
    <add key="ShowDisplayParametersInUSMode" value ="KSEB"/>
    <add key="DisableProgrammingBillingDateTime" value="KSEB"/>
    <add key="ShowGPRSCommunication" value="GPRSVER"/>
    <add key="FastDownloadRead" value="Generic"/>
  </appSettings>
</configuration>
